* {
    font-size: 12pt;
    font-family: 'Noto Sans SC', 'Noto Sans', '等线', DengXian, 'sans-serif', sans;
}

td {
    padding: 4px;
}

.code {
    font-family: 'Noto Sans Mono SC', 'Noto Sans Mono', monospace;
}

.code-block {
    font-family: 'Noto Sans Mono SC', 'Noto Sans Mono', monospace;
    background-color: #dfdfdf;
}
