#include <Winver.h>

#define CW_WIN32_RESOURCE
#include "Version.h"

0 ICON DISCARDABLE "standard-tester-icon.ico"

1 VERSIONINFO
FILEVERSION     PHONG_TESTER_VERSION
PRODUCTVERSION  WG_PRODUCT_VERSION
FILEOS          VOS_NT
FILETYPE        VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "ProductName", WG_PRODUCT_NAME
            VALUE "ProductVersion", WG_PRODUCT_VERSION_STRING
            VALUE "CompanyName", COMPANY_NAME
            VALUE "LegalCopyright", COPYRIGHT_INFO
            VALUE "FileDescription", "Project-WG Phong Tester"
            VALUE "FileVersion", PHONG_TESTER_VERSION_STRING
            VALUE "OriginalFilename", "PhongTester.exe"
            VALUE "InternalName", "PhongTester.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
